<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wukong"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <!-- 允许应用程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 允许应用程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 允许应用程序访问WIFI网卡的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 允许应用程序完全使用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>

    <!-- 允许应用程序使用照相 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 添加拨出电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.NoTitleBar" android:name="WKApplication">
        <activity
            android:name="com.wukong.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wukong.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.wukong.login.ForgetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.CheifActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.main.SendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.main.RouteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.more.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.more.SuggestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.more.BanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.more.ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.more.SendReceiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.more.FreightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.my.MyOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.my.MyRouteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.my.MyAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.my.AddressAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.my.AddressDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.my.MyDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.wukong.main.GoodsTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
    </application>

</manifest>